<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <springProperty scope="context" name="log.path" source="logging.file.path" defaultValue="/logs"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern"
       value="%d{yyyy-MM-dd HH:mm:ss.SSS} - [%25.25(%thread)] - [%-5level] - %-30.30(%logger{30}) : %msg%n" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="api_appender" class="ch.qos.logback.classic.sift.SiftingAppender">

        <discriminator>
            <key>logType</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${logType}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!--打开此项 不记录unknown内容-->
               <!-- <filter class="cn.piesat.framework.log.filter.LogTypeFilter" />-->
                <file>${log.path}/biz-info-${logType}.log</file>

               <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${log.path}/biz-info-${logType}.%d{yyyy-MM-dd}.log</fileNamePattern>

                </rollingPolicy>-->
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- 文件命名模式 -->
                    <fileNamePattern>${log.path}/biz-info-${logType}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <!-- 单个文件大小限制 -->
                    <maxFileSize>30MB</maxFileSize>
                    <!-- 总存储大小限制 -->
                    <totalSizeCap>10GB</totalSizeCap>
                    <!-- 保留文件天数 -->
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder class ="cn.piesat.framework.log.encoder.LogTypePatternLayoutEncoder">
                    <unknown>
                        %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] ==unknown== %-5level %logger{36} - [%t] %p %logger - %msg%n%xEx
                    </unknown>
                    <other>
                        %d{HH:mm:ss.SSS} [%thread] ==other== %-5level %logger{36} -business %msg%n
                    </other>
                    <business>
                        %d{HH:mm:ss.SSS} [%thread] ==business== %-5level %logger{36} -business %msg%n
                    </business>
                    <app>
                        %d{HH:mm:ss.SSS} [%thread] ==app== %-5level %logger{36} -app %msg%n
                    </app>
                    <audit>
                        %d{HH:mm:ss.SSS} [%thread] ==audit== %-5level %logger{36} -audit %msg%n
                    </audit>
                    <exception>
                        %d{HH:mm:ss.SSS} [%thread] ==exception== %-5level %logger{36} -exception %msg%n
                    </exception>
                </encoder>
            </appender>
        </sift>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="api_appender" />
        <!-- 设置异步阻塞队列的大小，为了不丢失日志建议设置的大一些，单机压测时100000是没问题的，应该不用担心OOM -->
        <queueSize>10000</queueSize>
        <!-- 设置丢弃DEBUG、TRACE、INFO日志的阀值，不丢失 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 设置队列入队时非阻塞，当队列满时会直接丢弃日志，但是对性能提升极大 -->
        <neverBlock>true</neverBlock>
    </appender>
    <logger name="cn.piesat" additivity="false" level="info">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="console" />
    </logger>
    <logger name="root" additivity="false" level="info">
        <appender-ref ref="console" />
    </logger>
</configuration>
