server:
  port: 8888
  servlet:
    context-path: /generator
spring:
  mvc:
    path-match:
      matching-strategy: ant_path_matcher
  jackson:
    default-property-inclusion: non_null
  datasource:
    dynamic:
      primary: master #设置默认的数据源或者数据源组,默认值即为master
      dataSource:
        master:
          type: com.zaxxer.hikari.HikariDataSource
          url: jdbc:sqlite:db/xp-generator.db
          driver-class-name: org.sqlite.JDBC
#        slave:
#          type: com.zaxxer.hikari.HikariDataSource
#          url: jdbc:mysql://localhost:3306/xp_generator?useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useSSL=false&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai
#          username: root
#          password: 123456
#          driver-class-name: com.mysql.cj.jdbc.Driver
  freemarker:
    check-template-location: false
  profiles:
    active: template

#     Oracle
#    driver-class-name: oracle.jdbc.OracleDriver
#    url: jdbc:oracle:thin:@localhost:1521:xe
#    username: root
#    password: 123456
#     SQLServer
#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    url: jdbc:sqlserver://localhost:1433;DatabaseName=xp_generator;encrypt=true;trustServerCertificate=true
#    username: sa
#    password: 123456
#    postgresql
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/postgres
#    username: postgres
#    password: 123456
#     达梦8
#    driver-class-name: dm.jdbc.driver.DmDriver
#    url: jdbc:dm://localhost:5236/xp_generator?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&nullCatalogMeansCurrent=true
#    username: root
#    password: 12345678
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
    banner: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    call-setters-on-nulls: true
    jdbc-type-for-null: 'null'
  configuration-properties:
    prefix:
    blobType: BLOB
    boolValue: TRUE
logging:
  level:
    cn.piesat.tools.generator.mapper: debug

