<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置切面 -->
    <bean id="myAspect" class="cn.piesat.framework.dynamic.datasource.core.GenerallyAspect" />

    <!-- 配置 AOP -->
    <aop:config>
        <!-- 配置切点表达式 -->
        <aop:pointcut id="myPointcut" expression="execution(* cn.piesat.dynamic.datasource.service..*.*(..))" />

        <!-- 配置切面 -->
        <aop:aspect ref="myAspect">
            <!-- 配置 Around advice -->
            <aop:around method="aroundAdvice" pointcut-ref="myPointcut" />
        </aop:aspect>
    </aop:config>

</beans>